// ============================
// Include all main sections
// ============================
$eventFull: event-full;
$eventHalf: event-half;
$eventHours: event-hours;

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.main {
	color: #777;
	padding-top: 50px;
	position: relative;	
}

.bk-date {
	transition: all .3s ease-in-out;
	&:hover {
		transform: scale(1.1);
	}

	.bk-event-wrapper {
		position: absolute;
		color: #fff;
		border-radius: 2px;
		padding: 0 5px;
		&.bk-event-name {
			font-weight: 500;
		}
		&.#{$eventFull} {
			background: rgba(90, 211, 222, 0.7);
			&:hover {
				background: rgb(90, 211, 222);
			}
		}
		&.#{$eventHalf} {
			background: rgba(79, 148, 209, 0.7);
			&:hover {
				background: rgb(79, 148, 209);
			}
		}
		&.#{$eventHours} {
			background: rgba(135, 214, 95, 0.7);
			&:hover {
				background: rgb(135, 214, 95);
			}
		}
	}
}

.#{$eventFull} {
	color: rgb(90, 211, 222);
}
.#{$eventHalf} {
	color: rgb(79, 148, 209);
}
.#{$eventHours} {
	color: rgb(135, 214, 95);
}

.alert {
	@include maxcontent;
  @include position(fixed, 0, auto, auto, 40%);
  padding: 10px;
  z-index: 9999;
}