.pop-up {
  @include centered;
  width: 450px;
  z-index: 2;

  .box {
		@include shadow(0px, 4px, 6px, 0px);	  
	  text-align: center;
	  color: #fff;	  
	  background: rgba(255, 112, 77, 0.8);

	  h3 {
	    text-align: center;
	    padding: 15px 0;
	    color: #fff;
	    margin: 0;
	  }

	  .close-button {
		  transition: all 0.5s ease;
		  @include position(absolute, 0, auto, auto, 0);
		  background-color: #FF9980;
		  padding: 1.5px 7px;
		  margin-left: -10px;
		  margin-top: -9px;
		  border-radius: 50%;
		  border: 2px solid #fff;
		  @include shadow(-4px, -2px, 6px, 0px);
		  color: #fff;
		  &:hover {
		  	background-color: tomato;
	  		color: #fff;
		  }
		}

		form {
			padding: 20px 20px 20px 0;
			background-color: #FF704D;			
		}
	}
}