$block: booking;
$color: #FF704D;

table.#{$block} {
	thead {
		background: $color;
		color: #fff;
	}
	tbody {
		tr {
			h5 {
				color: $color;
			}
			td {
				height: 100px;
				cursor: pointer;				
				&:hover {
					background: rgba(248, 248, 248, 0.7);
				}
				padding: 0;
			}		
		}
	}		
}