<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
		<a href="#" class="navbar-brand">Hotel {{ hotel.name }}</a>		
    <ul class="nav navbar-nav navbar-right">
    	<li>
    		<a href="#">
    			<i class="fa fa-square event-full"></i> FULL DAY
    		</a>
    	</li>
    	<li>
    		<a href="#">
    			<i class="fa fa-square event-half"></i> HALF DAY
    		</a>
    	</li>
    	<li>
    		<a href="#">
    			<i class="fa fa-square event-hours"></i> BY HOURS
    		</a>
    	</li>
    	<li>
    		<a href="#"><i class="fa fa-chevron-left"></i></a>
    	</li>
    	<li>
    		<a href="#"><i class="fa fa-chevron-right"></i></a>
    	</li>
    </ul>
  </div>
</nav>

<alert type="warning" ng-if="error">{{ error }}</alert>

<div class="container-fluid main">	
	<div class="row">
<!-- 		<aside class="col-md-2 sidebar" ng-include="'components/sidebar.html'">			
		</aside> -->	
	  <!-- <div id="wrapper-grid" class="col-md-10 col-md-offset-2"> -->
	  	<div class="table-wrapper">
	  		<table class="booking table table-bordered">
	  			<thead>
	  				<tr>
	  					<th>#</th>
	  					<th ng-repeat="day in gridPeriod">{{ day.displayDate }}</th>
	  				</tr>
	  			</thead>
	  			<tbody>
	  				<tr ng-repeat="(roomIndex, room) in hotel.rooms">
	  					<th>	  						
	  						<span class="title">{{ room.name }}</span>
	  						<h5>${{ room.price }}</h5>
	  					</th>
	  					<td ng-repeat="(index, day) in gridPeriod" ng-click="showBookingForm(roomIndex, day.timestamp);">
	  						<div class="bk-date" style="position: relative;" ng-repeat="event in room.info" ng-if="helper.compareDate(event.fromDate, day.timestamp)">
	  							<a class="bk-event-wrapper {{event.bookingType}}" href="#" style="width: {{ helper.calDistance(event.fromDate, event.toDate)*100 }}%;">
	  								<div class="bk-event">
	  									<span class="bk-event-name">{{event.name}}</span><br>
	  									<span class="bk-event-period">
	  										{{ helper.formatDate(event.fromDate) }} - {{helper.formatDate(event.toDate)}}</span>
	  								</div>
	  							</a>
	  						</div>
	  					</td>
	  				</tr>
	  			</tbody>
		  	</table>
	  	</div>
	  <!-- </div> -->
	</div>

	<div class="pop-up" ng-show="flagForm">
	  <div class="box">
	    <a href="#" class="close-button" ng-click="flagForm = !flagForm;">&#10006;</a>
	    <h3>Reservation</h3>
	    <form class="form-horizontal" name="bookingForm" ng-submit="bookingSubmit(bookingForm)">
	      <div class="form-group">
	        <label for="fromDate" class="col-sm-3 control-label">From Date</label>
	        <div class="col-sm-9">
	          <p class="input-group">	        		
              <input type="text" id="fromDate" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="fromDate" is-open="calfromdate" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="YYYY-mm-dd"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'calfromdate')"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="toDate" class="col-sm-3 control-label">End Date</label>
	        <div class="col-sm-9">
	        	<p class="input-group">	        		
              <input type="text" id="toDate" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="toDate" is-open="caltodate" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="YYYY-mm-dd"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event, 'caltodate')"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-sm-9 col-sm-offset-3">
	        	<button type="reset" class="btn btn-warning">Reset</button>
	        	<button type="submit" class="btn btn-default">Submit</button>	        	
	        </div>
	      </div>
	    </form>    
	  </div>
	</div>

</div>
	