// ========
//  MIXINS
// ========


@mixin position($position, $top: null, $right: $top, $bottom: $top, $left: $right) {
  @if $position != null { position: $position; }
  @if $top      != null { top:      $top;      }
  @if $right    != null { right:    $right;    }
  @if $bottom   != null { bottom:   $bottom;   }
  @if $left     != null { left:     $left;     }
}

@mixin border($properties, $sides: null) {
  @each $side in $sides {
    @if      $side == null   { border:        $properties; }
    @else if $side == top    { border-top:    $properties; }
    @else if $side == right  { border-right:  $properties; }
    @else if $side == bottom { border-bottom: $properties; }
    @else if $side == left   { border-left:   $properties; }
  }
}

@mixin centered {
  @include position(fixed, 50%, 0, 0, 50%);  
  transform: translate(-50%, -50%);
  transition: all .3s ease;
}

@mixin shadow($top, $right, $bottom, $left) {
  -webkit-box-shadow: $top $right $bottom $left rgba(0,0,0,0.1);
  -moz-box-shadow: $top $right $bottom $left rgba(0,0,0,0.1);
  box-shadow: $top $right $bottom $left rgba(0,0,0,0.1);
}